// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);

@font-face {
  font-family: "Antonio Regular";
  src: url("fonts/Antonio-Regular.ttf");
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  text-align: center;
}

body {
  height: 100%;
}

h1,h2,h3,h4 {
  font-family: "Antonio Regular";
}

[ui-view="content"].container-fluid {
  padding: 0;
}

.text-small {
  font-size: 0.8em;
}

.vot-1 {
  margin-top: 2em;
}

.vob-1 {
  margin-bottom: 2em;
}

.vot-2 {
  margin-top: 4em;
}

.vob-2 {
  margin-bottom: 4em;
}

.vot-3 {
  margin-top: 6em;
}

.vob-3 {
  margin-bottom: 6em;
}

.vot-4 {
  margin-top: 20em;
}

.vob-4 {
  margin-bottom: 20em;
}

.button {
  border: 3px solid #2d2e33;
  padding: 15px;
  text-decoration: none;
  color: #2d2e33;
  display: block;
  &:hover {
    color: #2d2e33;
  }
}

/* WORK PAGE */
.work_header {
  background-image: url("../images/work_header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2e33;
  background-blend-mode: screen;
  color: white;
}

.work_preview {
  height: 600px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: -45%;
  }
}


/* ABOUT PAGE */
.about_header {
  background-image: url("../images/about_photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2e33;
  background-blend-mode: screen;
  color: white;
}

.grey {
  background-color: #5d6972;
  color: white;
  .headline-underline {
    height: 5px;
    background-color: white;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 20px;
  }

  a, a:link, a:visited, a:hover, a:active {
    color: white;
  }
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.preview_images {
  .height_div {
    height: 600px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: -50%;
    }
  }
}

.about_partners {
  background-image: url("../images/about_photo.jpeg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5d6972;
  background-blend-mode: overlay;
  color: white;
  .headline-underline {
    background-color: white;
    border: 2px solid white;
  }
}

.about_cv_download {
  background-image: url("../images/PERSONAL_Desk_with_cv.png");
  background-position: -15%;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2e33;
  background-blend-mode: overlay;
  color: white;
  .headline-underline {
    background-color: white;
    border: 2px solid white;
  }
  .button {
    border: 3px solid white;
    padding: 15px;
    text-decoration: none;
    color: white;
    display: block;
  }
}

/* TIMELINE */
#about_timeline {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.bubble {
  height: 120px;
  max-width: 960px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  z-index: 3;
}

#timeline_progress {
  background-color: #e9e7e7;
  width: 4px;
  height: 0px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  margin-top: -100px;
  z-index: 0;
  border: 0;
  padding: 0;
}

.year_bubble {
  border: 3px solid #2d2e33;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  z-index: 3;
}

.year_bubble h2 {
  color: #2d2e33;
  text-align: center;
  padding-top: 10px;
}

.event_bubble {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  margin-top: 30px;
  z-index: 1;
  opacity: 0;
}

#ms_bubble {
  z-index: 2;
}

.bubble_year {
  height: 120px;
  max-width: 960px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.timeline_duration {
  width: 4px;
  height: 10px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  z-index: -1;
}

.event_desc {
  padding-left: 15px;
  padding-bottom: 15px;
  margin-left: 610px;
  position: absolute;
  width: 380px;
  border: 3px solid #2d2e33;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0;
}

.event_desc p {
  text-align: left;
  display: inline;
  color: #2C3E50;
}

.event_desc h3 {
  text-decoration: none;
  color: #2C3E50;
}

.event_month {
  margin-left: 20px;
  position: absolute;
  width: 350px;
  text-align: right;
  margin-top: 40px;
  opacity: 0;
}

.event_month_job {
  color: #2d2e33;
}

.event_month_uni {
  color: #2d2e33;
}

.event_bubble img {
  width: 30px;
  height: auto;
  padding-top: 9px;
}

.event_uni>.event_bubble, .event_uni > div >.timeline_duration{
  background-color: #2d2e33;
}

.event_job>.event_bubble, .event_job > div >.timeline_duration{
  background-color: #2d2e33;
}


/* BLUESHOE PAGE */

.headline-underline {
  height: 5px;
  background-color: #2d2e33;
  border: 2px solid #2d2e33;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 20px;
}

.lightgrey {
  background-color: #f3fafc;
}

.fullsize_image{
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    left: 0;
  }
}

.half_height {
  height: 250px;
}

.full_height{
  height: 500px;
}

.col-img {
  padding: 0;
}

.website_image {
  box-shadow: 10px 10px 50px 20px #EEE;
}

/* Only to use with bootstrap rows. Vertical center content */
.vertical-center {
  display: flex;
  align-items: center;
}

.anchor-circle {
  border-radius: 50%;
  border: 2px solid #2d2e33;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 15px;
}

.section-anchor {
  padding: 0;
  &:first-child {
    margin-left: 80px;
  }
  &:not(:first-child) {
    margin-left: -80px;
  }
}

.middle-line {
  border: 1px solid #2d2e33;
  margin-bottom: -20px;
}

.color-dot {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}


.blueshoe-color-1 {
  background-color: #23303D;
}

.blueshoe-color-2 {
  background-color: #2470A9;
}
.blueshoe-color-3 {
  background-color: #63D9B6;
}
.blueshoe-color-4 {
  background-color: #96A2A6;
}
/* BLUESHOE PAGE END */

/* CONSIGHTS PAGE START */

.headline-underline-white {
  border-color: white;
  background-color: white;
}
.consightsBg--lightGrey {
  background-color: #e1e1e1;
  padding-bottom: -1px
}
.consightsBg--lightBlue {
  background-color: #d8e5ea;
}
.consights-color-1 {
  background-color: #E5E012;
}
.consights-color-2 {
  background-color: #5EBFEA
}
.consights-color-3 {
  background-color: #89BCB5;
}
.consights-color-4 {
  background-color: #383838;
}

/* CONSIGHTS PAGE END */

/* YAY PAGE START */

.person {
  ul {
    list-style-type: none;
  }
  .favorite-apps {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
  }
  table {
    line-height: 2em;
    margin-bottom: 20px;
  }
}

.person > * {
  text-align: left;
  font-size: 0.7em;
}

.person-line {
  width: 200px;
  border: 1px solid #2d2e33;
  margin: 0 15px;
}

.person-circle {
  border-radius: 50%;
  background-color: #ff5e5d;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  position: relative;
  top: 0;
  left: 0;
}

.line-cell {
  padding-top: 6px;
}

.person ul li:before{ content:"-"; position:relative; left:-5px;}
.person ul li{ text-indent:-5px; }

.person-image {
  shape-outside: circle();
  shape-image-threshold: 0.5;
  float: right;
  border-radius: 50%;
  shape-margin: 10px;
}

.person-image-left {
  shape-outside: circle();
  shape-image-threshold: 0.5;
  border-radius: 50%;
  shape-margin: 10px;
  float: left;
}

.persona_text {
  text-align: left;
}

/* YAY PAGE END */

/* MOBILE PAGE START */
.seperator-red {
  height: 40px;
  background-color: #ef535a;
}

.headline-centered {
  position: absolute;
  left: 50%;
}

.headline-content {
  position: relative;
  left: -50%;
}

.slick-slide img {
  max-width: 100%;
}

.slick-prev {
  transform: rotate(180deg);
  left: -60px;
}

.slick-next {
  right: -60px;
}

.slick-prev, .slick-next {
  height: 40px;
  width: 40px;
}

.slick-prev:before, .slick-next:before {
  color: #333;
}


/* MOBILE PAGE END */



.tab-menu-item {
  font-family: "Antonio Regular";
  text-align: center;
  font-size: 3em;
  background-color: #2d2e33;
  height: 20vh;
  line-height: 20vh;
}

.tab-menu-item-text {
  font-family: "Antonio Regular";
  color: #cadce1;
  &:hover, &:link, &:visited, &:active {
    color: #cadce1;
    text-decoration: none;
  }
}

.underline {
  height: 2px;
  border: 2px solid #cadce1;
  margin: 0px 60px;
  margin-top: -70px;

}


[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(0px, 0, 0);
  -moz-transform:translate3d(0px, 0, 0);
  transform:translate3d(0px, 0, 0);
}

.magnify-container {
  margin: auto;
  position: relative;
}
.magnify-container .magnify-glass {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  background-repeat: no-repeat;
  z-index: 999;
}
.magnify-container .magnify-image {
  width: 100%;
  height: 100%;
}

/* Responsive: Mobile Phone View */
@media screen and (max-width: 767px) {

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) and (max-width: 1400px) {

}


/* Responsive: Big Screens */
@media screen and (min-width: 2000px) {
  .preview_images {
    .height_div {
      height: 800px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        left: -20%;
      }
    }
  }

  .fullsize_image{
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: 0;
    }
  }

  .half_height {
    height: 400px;
  }

  .full_height{
    height: 800px;
  }

}
.menu-item {
  text-align: center;
  font-family: "Antonio Regular", sans-serif;
  color: #cadce1;
  display: block;
  height: 80vh;
  z-index: 1;
  background-repeat: no-repeat;
  h1 {
      padding-top: 45px;
      margin-top: 0;
      font-size: 3em;
  }
}
.row.menu-item {
  height: 90vh;
}
.menu-item.bs {
  background-image: url(/images/backgrounds/BLUESHOE_mac_website_blank_small.png);
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: top 70% center;
  h1 {
    color: #2d2e33;
  }
  .background {
    -moz-background: -moz-linear-gradient(top, #94a7b6 0%, #bbcede 100%);
    -webkit-background: -webkit-linear-gradient(top, #94a7b6 0%, #bbcede 100%);
    background: linear-gradient(to bottom, #94a7b6 0%, #bbcede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a7b6', endColorstr='#bbcede',GradientType=0 ); /* IE6-9 */
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.menu-item.mobile {
  background-image: url(/images/backgrounds/RESEARCH_poster_blank.png);
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: top 70% center;
  h1 {
    color: #2d2e33;
  }
  .background {
    -moz-background: -moz-linear-gradient(top, #94a7b6 0%, #bbcede 100%);
    -webkit-background: -webkit-linear-gradient(top, #94a7b6 0%, #bbcede 100%);
    background: linear-gradient(to bottom, #94a7b6 0%, #bbcede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a7b6', endColorstr='#bbcede',GradientType=0 ); /* IE6-9 */
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.menu-item.consights {
  background-image: url(/images/backgrounds/CONSIGHTS_businesscards_blank.png);
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: top 70% center;
  h1 {
    color: #ffffff;
  }
  .background {
    -moz-background: -moz-linear-gradient(top, #5e5f63 0%, #838387 100%);
    -webkit-background: -webkit-linear-gradient(top, #5e5f63 0%, #838387 100%);
    background: linear-gradient(to bottom, #5e5f63 0%, #838387 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5f63', endColorstr='#838387',GradientType=0 ); /* IE6-9 */
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.menu-item-container {
  opacity: 0.7;
&:hover {
   opacity : 1;
   -webkit-transition: opacity 500ms ease-out;
   -moz-transition: opacity 500ms ease-out;
   -o-transition: opacity 500ms ease-out;
   transition: opacity 500ms ease-out;
 }
}

.menu-item-container:nth-child(1) {
  -moz-background: -moz-linear-gradient(top, #94a7b6 0%, #bbcede 100%);
  -webkit-background: -webkit-linear-gradient(top, #94a7b6 0%, #bbcede 100%);
  background: linear-gradient(to bottom, #94a7b6 0%, #bbcede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94a7b6', endColorstr='#bbcede',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  background-position-y: 0;
}
.menu-item-container:nth-child(1) .menu-item {
  background-image  : url(../images/backgrounds/BLUESHOE_mac_website_blank_small.png);
  background-size: auto 50%;
  background-position: 70% 50%;
}
.menu-item-container:nth-child(2){
  background: #fee6e6;
}
.menu-item-container:nth-child(2) .menu-item {
  background-image  : url(../images/backgrounds/YAY_phonemockups_blank_small.png);
  background-size: auto 60%;
  background-position: 25% 50%;
}
.menu-item-container:nth-child(3) {
  -moz-background: -moz-linear-gradient(top, #5d5e62 0%, #868689 100%);
  -webkit-background: -webkit-linear-gradient(top, #5d5e62 0%, #868689 100%);
  background: linear-gradient(to bottom, #5d5e62 0%, #868689 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5e62', endColorstr='#868689',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  background-position-y: 0;
}
.menu-item-container:nth-child(3) .menu-item {
  background-image  : url(../images/backgrounds/CONSIGHTS_businesscards_blank_small.png);
  background-size: auto 50%;
  background-position: 60% 50%;
}
.menu-item-container:nth-child(4) {
  -moz-background: -moz-linear-gradient(left, #6dacd3 0%, #92bed9 100%);
  -webkit-background: -webkit-linear-gradient(left, #6dacd3 0%, #92bed9 100%);
  background: linear-gradient(to right, #6dacd3 0%, #92bed9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dacd3', endColorstr='#92bed9',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  background-position-y: 0;
}
.menu-item-container:nth-child(4) .menu-item {
  background-image  : url(../images/backgrounds/MERCUR_macbookdashboard_blank_small.png);
  background-size: auto 50%;
  background-position: 00% 50%;
}

.menu-item-container:nth-child(5) .menu-item {
  background-image  : url(../images/backgrounds/RESEARCH_poster_blank_small.png);
  background-size: auto 80%;
  background-position: 30% 50%;
}
.menu-item-container:nth-child(5) {
  -moz-background: -moz-linear-gradient(left, #ddf1ef 0%, #eff9f8 100%);
  -webkit-background: -webkit-linear-gradient(left, #ddf1ef 0%, #eff9f8 100%);
  background: linear-gradient(to right, #ddf1ef 0%, #eff9f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddf1ef', endColorstr='#eff9f8',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  background-position-y: 0;
}

.menu-item-container:nth-child(6) .menu-item {
  background-image  : url(../images/backgrounds/WORK_header._blankjpeg);
  background-size: auto 100%;
  background-position: 20% 50%;
}


.menu-item-container {
  display: inline-block;
  width: 16.66666667%;
  margin: 0;
  padding: 0;
  border: 0;
}
.no-font {
  font-size: 0;
}

.mercur-persona-title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Karla", sans-serif;
}

.mercur-persona-description {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  color: rgb(104,195, 247);
}

.mercur-persona-subtitle {
  font-size: 14px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  margin: 5px 0 0 0;
}

.text-left {
  text-align: left;
}

.slides-container  {
  .slick-dots {
    li {
      button {
        &:before {
          content: ' ';
          height: 12px;
          width: 12px;
          border: 2px solid black;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
      }
    }
   li.slick-active {
     button {
       &:before {
         background-color: black;
       }
     }
    }
}
}

.mercur-color-1 {
  border-color: rgb(104,195,247);
  background-color: rgb(104,195,247);
}
.mercur-color-2 {
  border-color: rgb(108, 212, 157);
  background-color: rgb(108, 212, 157);
}
.mercur-color-3 {
  border-color: rgb(236, 76, 55);
  background-color: rgb(236, 76, 55);
}
.mercur-color-4 {
  border-color: rgb(255, 231, 94);
  background-color: rgb(255, 231, 94);
}

.bottom-menu-item {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  height: 500px;
  .bottom-menu-title {
    color: white;
    font-size: 32px;
    font-family: "Antonio Regular", sans-serif;
    margin-top: 160px;
    margin-bottom: 10px;
    display: block;
  }
  .bottom-menu-subtitle {
    color: white;
    font-size: 16px;
    display: block;
  }
  .yay {
    background-image: url(../images/YAY_phonemockups.png);
  }
  .blueshoe {
    background-image: url(../images/blueshoe.png);
  }
  .mercur {
    background-image: url(../images/mercur/MERCUR_macbookdashboard.jpeg);
  }
  .mobile {
    background-image: url(../images/blueshoe.png);
  }
  img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: -2;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
  }
  &:hover {
    cursor: pointer;
    .overlay {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

.contact-subline {
  font-size: 26px;
}
.contact-icon {
  margin: 0 10px;
  height: 30px;
}

#menu {
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 100;
}

.menu-bar {
  height: 5px;
  width: 40px;
  background-color: #2d2e33;
  border: 0;
  margin: 5px 0;
  padding: 0;
}
.menu-bar--white {
  background-color: white;
}

.socialMedia-img {
  height: 45px;
  width: 45px;
}
.stellarBg-bs-scribble {
  background-image: url(/images/blueshoe/BLUESHOE_logo-skribbles.jpeg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
}
