<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="row menu-item bs">
      	<h1>Blueshoe</h1>
      </div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
			<h2>Branding & Website Design</h2>	
			<div class="headline-underline vob-1"></div>
			Blueshoe is a young startup based in Munich, Germany. After being founded in 2014, they
			got in touch with me to create a brand identity and company website for their company.
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-1">
		<div class="row">
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Logo Design
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Corporate Design
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Website Design
			</div>
		</div>
	</div>
</div>
<div class="row vot-2">
	<div class="col-md-12 col-img">
	<img src="/images/BLUESHOE_logo-skribbles.png" width="100%" alt="">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 ">
		<h2>Development of the Logo</h2>
		<div class="headline-underline vob-3"></div>
	</div>
	<div class="col-md-6 col-img">
		<img src="/images/BLUESHOE_logo-notebook.png" width="100%" alt="">
	</div>
	<div class="col-md-6 col-img">
		<img src="/images/BLUESHOE_logo-version1.png" width="100%" alt="">
	</div>
	<div class="col-md-8 col-md-offset-2 vot-3">
		<div class="row">
			<div class="col-md-3 text-small">
				<div class="color-dot blueshoe-color-1"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
			<div class="col-md-3 text-small">
				<div class="color-dot blueshoe-color-2"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
			<div class="col-md-3 text-small">
				<div class="color-dot blueshoe-color-3"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
			<div class="col-md-3 text-small">
				<div class="color-dot blueshoe-color-4"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-4 vot-3 vob-3">
		<img src="/images/BLUESHOE-logo.png" width="100%" alt="">
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<img src="" alt="">
	</div>
</div>

<div class="row lightgrey">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Stationary</h2>
		<div class="headline-underline vob-3"></div>
	</div>
	<div class="col-md-6 col-img">
		<div class="row">
			<div class="col-md-6 col-img fullsize_image half_height">
				<img src="/images/BLUESHOE-Stationary-Shot.png" width="100%" alt="">
			</div>
			<div class="col-md-6 col-img fullsize_image half_height">
				<img src="/images/BLUESHOE-Business-cards.png" width="100%" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-img fullsize_image half_height">
				<img src="/images/BLUESHOE-invoice_skribble.png" width="100%" alt="">
			</div>
		</div>
	</div>
	<div class="col-md-6 col-img fullsize_image full_height">
		<img src="/images/BLUESHOE_stationary2.png" width="100%" alt="">
	</div>
</div>

<div class="row vob-3">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="vot-3 ">The new Website</h2>
		<div class="headline-underline vob-3"></div>
		<img src="/images/BLUESHOE_website_broswer-1.png" width="100%" alt="" class="website_image">
	</div>
</div>
</body>
</html>