<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">

  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
      <div class="row menu-item bs">
        <div class="background">
          <h1>Blueshoe</h1>
          <div class="headline-underline"></div>
        </div>
      </div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
			<h2>Branding & Website Design</h2>
			<div class="headline-underline vob-1"></div>
			Blueshoe is a young startup based in Munich, Germany. After being founded in 2014, they
			got in touch with me to create a brand identity and company website for their company.
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-1">
		<div class="row">
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Logo Design
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Corporate Design
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Website Design
			</div>
		</div>
	</div>
</div>
<div class="row vot-2">
	<div class="col-md-12 col-img">
	<div class="stellarBg-bs-scribble" data-stellar-background-ratio="0.8"  alt="">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 ">
		<h2>Development of the Logo</h2>
		<div class="headline-underline vob-3"></div>
	</div>
	<div class="col-md-6 col-img">
		<img src="/images/blueshoe/BLUESHOE_logo-notebook.jpeg" width="100%" alt="">
	</div>
	<div class="col-md-6 col-img">
		<img src="/images/blueshoe/BLUESHOE_logo-version1.jpeg" width="100%" alt="">
	</div>
	<div class="col-md-8 col-md-offset-2 vot-3">
		<div class="row">
			<div class="col-md-3">
				<div class="color-dot blueshoe-color-1"></div>
				R=25 G=123 B=28 <br>
				#F6E890
			</div>
			<div class="col-md-3">
				<div class="color-dot blueshoe-color-2"></div>
				R=25 G=123 B=28 <br>
				#F6E890
			</div>
			<div class="col-md-3">
				<div class="color-dot blueshoe-color-3"></div>
				R=25 G=123 B=28 <br>
				#F6E890
			</div>
			<div class="col-md-3">
				<div class="color-dot blueshoe-color-4"></div>
				R=25 G=123 B=28 <br>
				#F6E890
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-4 vot-3 vob-3">
		<img src="/images/blueshoe/BLUESHOE-logo.png" width="100%" alt="">
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<img src="" alt="">
	</div>
</div>

<div class="row lightgrey">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Stationary</h2>
		<div class="headline-underline vob-3"></div>
	</div>
	<div class="col-md-6 col-img">
		<div class="row">
			<div class="col-md-6 col-img fullsize_image half_height">
				<img src="/images/blueshoe/BLUESHOE-Stationary-Shot.jpeg" width="100%" alt="">
			</div>
			<div class="col-md-6 col-img fullsize_image half_height">
				<img src="/images/blueshoe/BLUESHOE-Business-cards.jpeg" width="100%" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-img fullsize_image half_height">
				<img src="/images/blueshoe/BLUESHOE-invoice_skribble.jpeg" width="100%" alt="">
			</div>
		</div>
	</div>
	<div class="col-md-6 col-img fullsize_image full_height">
		<img src="/images/blueshoe/BLUESHOE_stationary2.jpeg" width="100%" alt="">
	</div>
</div>

<div class="row vob-3">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="vot-3 ">The new Website</h2>
		<div class="headline-underline vob-3"></div>
		<img src="/images/blueshoe/BLUESHOE_website_browser.jpg" width="100%" alt="" class="website_image">
	</div>
</div>
<div style="margin-top:200px;">
<div class="bottom-menu row">
		<a class="bottom-menu-item" href="consights.html">
			<div class="overlay consights"></div>
			 <span class="bottom-menu-title">
				consights
			</span>
			<span class="bottom-menu-subtitle">Branding & Website</span>
			<-
			<div class="overlay"></div>
		</a>
		<a class="bottom-menu-item" href="yay.html">
			<div class="overlay yay"></div>
			<span class="bottom-menu-title">YAY</span>
			<span class="bottom-menu-subtitle">Concept, Interactions & UI</span>
			->
			<div class="overlay"></div>
		</a>
	</div>

	<div class="row vot-3 vob-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Get in touch</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<span class="contact-subline">
				I look forward to hear from you.
			</span>
		</div>
		<div class="col-md-4 col-md-offset-4 vot-1 vob-3">
		<div class="row">
			<div class="col-md-3">
				<a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
					<img class="socialMedia-img" src="/images/contact-icons-linkedin.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.xing.com/profile/Sonja_Dickers">
					<img class="socialMedia-img" src="/images/contact-icons-xing.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.behance.net/sonjadyckers">
					<img class="socialMedia-img" src="/images/contact-icons-behance.png">
				</a>
			</div>
			<div class="col-md-3 vob-2">
				<a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
					<img class="socialMedia-img" src="/images/contact-icons-mail.png">
				</a>
			</div>
		</div>
		</div>

	</div>
</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery.stellar/jquery.stellar.min.js"></script>
  <script type="text/javascript">
      $.stellar();
  </script>
</body>
</html>
