<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Branding & Web Design</h2>	
		<div class="headline-underline vob-1"></div>
		consights is a product to conduct market research studies.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. 
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-2">
		<div class="row">
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Logo Design	
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Flyer Design
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Website Design
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-md-12 col-img">
		<img src="/images/consights/CONSIGHTS_logo_sketches.png" width="100%" alt="">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 ">
		<h2>Development of the Logo</h2>
		<div class="headline-underline vob-3"></div>
	</div>
	</div>
	<div class="row vertical-center">
	<div class="col-md-6 col-img">
		<img src="/images/consights/CONSIGHTS_logo_sketches.png" width="100%" alt="">
	</div> <!--
	--><div class="col-md-6 col-img">
		<img src="/images/consights/consights_logo_dark_big.png"width="80%" alt="">
	</div>
	</div>
	<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<div class="row">
			<div class="col-md-3 text-small">
				<div class="color-dot consights-color-1"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
			<div class="col-md-3 text-small">
				<div class="color-dot consights-color-2"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
			<div class="col-md-3 text-small">
				<div class="color-dot consights-color-3"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
			<div class="col-md-3 text-small">
				<div class="color-dot consights-color-4"></div>
				R=25 G=123 B=28
				#F6E890
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-4 vot-3 vob-3">
		<img src="/images/consights/consights_logo_dark_big.png"  width="100%" alt="">
	</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2 vot-3 vob-2" >
		<h2>Flyer</h2>
		<div class="headline-underline"></div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12">
		<img src="/images/consights/CONSIGHTS_flyer.png"  width="100%" alt="">
	</div>
</div>

<div class="row vob-3">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="vot-3 ">The new Website</h2>
		<div class="headline-underline vob-2"></div>
		<img src="/images/consights/CONSIGHTS_website_browser.png"  width="100%" alt=""  class="website_image">
	</div>
</div>
</body>
</html>