<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">
	<a href="/index.html" id="menu">
		<div class="menu-bar menu-bar--white"></div>
		<div class="menu-bar menu-bar--white"></div>
		<div class="menu-bar menu-bar--white"></div>
	</a>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<div class="row menu-item consights">
		<div class="background">
      		<h1>consights</h1>
      		<div class="headline-underline headline-underline-white"></div>
      	</div>
      </div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Branding & Web Design</h2>	
		<div class="headline-underline vob-1"></div>
		consights is a product to conduct market research studies.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. 
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-2">
		<div class="row">
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Logo Design	
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Flyer Design
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Website Design
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-md-12 col-img">
		<div class="stellarBg-bs-scribble" data-stellar-background-ratio="0.8"  alt="">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 ">
		<h2>Development of the Logo</h2>
		<div class="headline-underline vob-3"></div>
	</div>
	</div>
	<div class="row vertical-center consightsBg--lightGrey">
	<div class="col-md-6 col-img">
		<img src="/images/consights/CONSIGHTS_logo_sketches.jpeg" width="100%" alt="">
	</div> <!--
	--><div class="col-md-6 col-img">
		<img src="/images/consights/consights_logo_dark_big.png" width="80%" alt="">
	</div>
	</div>
	<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<div class="row">
			<div class="col-md-3">
				<div class="color-dot consights-color-4"></div>
				R=56 G=56 B=56 <br>
				#383838
			</div>
			<div class="col-md-3">
				<div class="color-dot consights-color-1"></div>
				R=228 G=223 B=18 <br>
				#e4df12
			</div>
			<div class="col-md-3">
				<div class="color-dot consights-color-2"></div>
				R=94 G=191 B=234 <br>
				#5ebfea
			</div>
			<div class="col-md-3">
				<div class="color-dot consights-color-3"></div>
				R=137 G=188 B=181 <br>
				#89bcb5
			</div>
		</div>
	</div>
	<div class="col-md-4 col-md-offset-4 vot-3 vob-3">
		<img src="/images/consights/consights_logo_dark_big.png"  width="100%" alt="">
	</div>
</div>

<div class="row consightsBg--lightBlue">
<div class="col-md-8 col-md-offset-2 vot-3" >
		<h2>Flyer</h2>
		<div class="headline-underline"></div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 col-img">
		<img src="/images/consights/CONSIGHTS_flyer.jpeg"  width="100%" alt="">
	</div>
</div>

<div class="row vob-3">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="vot-3 ">The new Website</h2>
		<div class="headline-underline vob-2"></div>
		<img src="/images/consights/CONSIGHTS_website_browser.jpeg"  width="100%" alt=""  class="website_image">
	</div>
</div>
<div style="margin-top:200px;">
<div class="bottom-menu row">
		<div class="bottom-menu-item">
			<div class="overlay yay"></div>
			<span class="bottom-menu-title">YAY</span>
			<span class="bottom-menu-subtitle">Concept, Interactions & UI</span>
			->
			<div class="overlay"></div>
		</div>
		<div class="bottom-menu-item">
			<div class="overlay mercur"></div>
			 <span class="bottom-menu-title">
				Mercur
			</span>
			<span class="bottom-menu-subtitle">Concept & Design</span>
			<-
			<div class="overlay"></div>
		</div>
	</div>

	<div class="row vot-3 vob-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Get in touch</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<span class="contact-subline">
				I look forward to hear from you.
			</span>
		</div>
		<div class="col-md-4 col-md-offset-4 vot-1 vob-3">
		<div class="row">
			<div class="col-md-3">
				<a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
					<img class="socialMedia-img" src="/images/contact-icons-linkedin.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.xing.com/profile/Sonja_Dickers">
					<img class="socialMedia-img" src="/images/contact-icons-xing.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.behance.net/sonjadyckers">
					<img class="socialMedia-img" src="/images/contact-icons-behance.png">
				</a>
			</div>
			<div class="col-md-3 vob-2">
				<a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
					<img class="socialMedia-img" src="/images/contact-icons-mail.png">
				</a>
			</div>
		</div>
		</div>

	</div>
</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery.stellar/jquery.stellar.min.js"></script>
  <script type="text/javascript">
      $.stellar();
  </script>
</body>
</html>