<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
	<div class="row menu-item mercur">
      	<h1>Mercur</h1>
      </div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Concept & Design</h2>	
		<div class="headline-underline vob-1"></div>
		In my internship at IBM I worked in a team, which used Scrum as a project management methodology. The variety and unintegrity of the different software used, inspired me to recreate such an application and tailor it especially to Scrum teams.  
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-3">
		<div class="row">
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Conceptualisation
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Interaction Design
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Interface Design
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-md-12 col-img">
		<img src="/images/mercur/MERUR_image_big.JPG" width="100%" alt="">
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 vot-3">
		<h2>Personae</h2>
		<div class="headline-underline vob-1"></div>
	</div>
</div>
<div class="row text-left">
	<div class="col-md-8 col-md-offset-2 vob-3">
		<div class="row vot-1 vob-2">
			<div class="col-md-6">
				<img src="../images/mercur/MERCUR_product_owner.png" class="person-image-left" width="200" alt="">
			</div>
			<div class="col-md-6" style="text-align: right;">
				<h3 class="mercur-persona-title">The Product Owner</h3>
				<p class="mercur-persona-description">William O'Keele, 47 years old <br>
					Over 16 years management experience <br>
					Business & Marketing Background</p>
			</div>
		</div>
		<div class="row">
		<div class="col-md-6">
			The Product owner mainly concentrates on the vision and direction of the product. As being responsible for the business value of the company, he decides which features the product will contain and what the team will develop.
			<h3 class="mercur-persona-subtitle">Goals</h3>
			Trying to drive the product further and increasing the business value of the company, the product owner decides what to develop. He aims to produce the best functionality in a short time to outdo possible competitors. Also, he communicates with clients and stakeholders to held these customers and gain additional ones.
			<h3 class="mercur-persona-subtitle">Tasks</h3>
			He is the one responsive for the product roadmap and backlog. Adding, organising and prioritising user stories in the product backlog are some of his main tasks. Additionally, he approves user stories and pulls the key features into the sprint backlog. He
		</div>
		<div class="col-md-6">also needs to communicate the vision and goals to the Scrum team, so that everyone is aware of the future route. the product owner mainly uses the planning facilities of the product.
			<h3 class="mercur-persona-subtitle">Usage Behaviour</h3>
			Because of the fact that the Product owner uses Mercur to plan the product and monitor the current progress, he will use it as a reporting tool once in a while. Having other, more important tools for the day-to-day business.
		</div>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 vob-3">
		<div class="row vot-1 vob-2">
			<div class="col-md-6" style="text-align: left;">
				<h3 class="mercur-persona-title">The Scrum Master</h3>
				<p class="mercur-persona-description">Sharlene Tao, 36 years old <br>
					Certified Scrum Master of Scrum Alliance<br>
					In Project Management since 9 years</p>
			</div>
			<div class="col-md-6">
				<img src="../images/mercur/MERCUR_scrum_master.png" class="person-image" width="200" alt="">
			</div>
		</div>
		<div class="col-md-6">
			The Scrum Master acts as a facilitator for the Scrum team. in contrary to the Product owner, she does not have any management duties. She helps the team to overcome problems and makes sure that it stays productive and functional. in addition, she is vigilant about everyone following the Scrum rules.
			<h3 class="mercur-persona-subtitle">Goals</h3>
			As being the facilitator of the Scrum team, the Scrum Master wants to keep the team productive at all times. She also wants everyone to follow the Scrum rules and come to all meetings.
			<h3 class="mercur-persona-subtitle">Tasks</h3>
			Besides guiding the daily stand-up meetings, she also plans the other meetings in each sprint, including the sprint planning and review meeting, the sprint retrospective meeting and the backlog refinement meeting. the Scrum Master uses the calendar and meeting functionalities of Mercur. But also the reporting features </div>
			<div class="col-md-6">are of interest for this user. looking in the near future, based on calculations of the productivity rate of the team, the Scrum Mas- ter may be able to identify problems and initiate countermeasures early on.
			<h3 class="mercur-persona-subtitle">Usage Behaviour</h3>
			The Scrum Master spends most of the day using this product. She uses it as a main tool for planning meetings and to communicate with the team, in order to keep the team productive and fulfil her duties as a shield to the environment. Additionally she needs to communicate with the Product owner, so that he is always aware of the current status of the project.
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 vob-3">
		<div class="row vot-1 vob-2">
			<div class="col-md-1 col-lg-1 col-sm-1">
				<img src="../images/mercur/MERCUR_team_images_2.png" class="" width="125" alt="">
			</div>
			<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-sm-10 col-sm-offset-1">
				<div class="vob-2" style="text-align: right;">
					<h3 class="mercur-persona-title">The Team Members</h3>
					<p class="mercur-persona-description">
						<span style="font-size: 12px;">Among others:</span><br>
						Beatrice Mouran, Software Developer<br>
						Peter Groban, Database Developer<br>
						Elena Tabor, Interface Designer<br>
						Michael Miller, Test Lead<br>
						Kaelan Walcott, Quality Assurance<br>
						Mary Steward, Tech Support</p>
				</div>
				<div class="" style=" text-align: left;">
					<div class="col-md-6">
						The team is a cross functional group of specialists with essential and complementary expertise. it usually consists out of four to nine people, with roles like Developer, Designer, Software Architect, tester, Quality Assurance and tech Support.
						<h3 class="mercur-persona-subtitle">Goals</h3>
						While the Scrum Master looks after the organisational aspects of the project, the team focuses on the product development itself. the Scrum team is self-organising and self-managing. it develops the user stories that are as- signed to the sprint by the product owner. the team itself decides how the stories are implemented.
						<h3 class="mercur-persona-subtitle">Tasks</h3>
						As being the user group that works daily with the product, a lot of features are especially geared to the team members. they use it in the everyday work environment and therefore it aims to fit in seamlessly in their job routine. Mercur combines a lot of functionality, including calendar</div><div class="col-md-6"> and day-planning facilities and the possibility to communicate with others. However one of the main benefits for the team are the time tracking and work monitoring features. the team members update user stories according the progress they have made, simply by clicking a button. At each point in time, they can monitor the progress steadily and also view its impact. the application supports instant reporting and displays information on the working progress, productivity rate and a burn down chart. calculations give the team an idea of the estimated completion date and already early on providence if the product can be delivered on time.
						<h3 class="mercur-persona-subtitle">Usage Behaviour</h3>
						The team will be using the product in parallel to their work. Mercur is a help tool to track activities and organise the working day. therefore it aims to provide easy to click functionality that does not distract the users, as they need to focus on their actual work.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 vot-3 vob-2">
			<h2>Wireframes</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<div class="slides-container">
				<img src="../images/mercur/MGMT_iteration.png" alt="">
				<img src="../images/mercur/MGMT_calendar.png" alt="">
				<img src="../images/mercur/MGMT_dashboard.png" alt="">
				<img src="../images/mercur/MGMT_product_backlog.png" alt="">
				<img src="../images/mercur/MGMT_reporting.png" alt="">
				<img src="../images/mercur/MGMT_tasks.png" alt="">
			</div>
		</div>
	</div>
	<div class="row vot-3 vob-2">
		<div class="col-md-12 col-img">
			<img src="../images/mercur/MERUR_image_big.JPG" width="100%" alt="">
		</div>
	</div>
	<div class="row vot-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Branding</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-10 col-md-offset-1 vob-2">
			<div class="col-md-6 col-img"><img src="../images/mercur/MERCUR_image_small.JPG" width="100%" alt=""></div>
			<div class="col-md-6 col-img"><img src="../images/mercur/MERCUR_image_small.JPG" width="100%" alt=""></div>
		</div>
		<div class="col-md-8 col-md-offset-2 vot-3 vob-2">
			<div class="row">
				<div class="col-md-3 text-small">
					<div class="color-dot mercur-color-1"></div>
					R=104 G=195 B=247
					#F6E890
				</div>
				<div class="col-md-3 text-small">
					<div class="color-dot mercur-color-2"></div>
					R=108 G=212 B=157
					#F6E890
				</div>
				<div class="col-md-3 text-small">
					<div class="color-dot mercur-color-3"></div>
					R=236 G=76 B=55
					#F6E890
				</div>
				<div class="col-md-3 text-small">
					<div class="color-dot mercur-color-4"></div>
					R=255 G=231 B=94
					#F6E890
				</div>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1 vot-2 vob-2">
			<img src="../images/mercur/MERCUR_logo_full.png" style="max-width:100%;" alt="">
		</div>
	</div>
	<div class="row vot-3 vob-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Mock-ups</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-12 col-img">
			<img src="../images/mercur/MERCUR_perspective_mockup.png" width="100%" alt="">
		</div>
	</div>
	<div class="bottom-menu row"	>
		<div class="bottom-menu-item">
			<div class="overlay consights"></div>
			 <span class="bottom-menu-title">
				consights
			</span>
			<span class="bottom-menu-subtitle">Branding & Website</span>
			<-
			<div class="overlay"></div>
		</div>
		<div class="bottom-menu-item">
			<div class="overlay yay"></div>
			<span class="bottom-menu-title">YAY</span>
			<span class="bottom-menu-subtitle">Concept, Interactions & UI</span>
			->
			<div class="overlay"></div>
		</div>
	</div>

	<div class="row vot-3 vob-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Get in touch</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<span class="contact-subline">
				I look forward to hear from you.
			</span>
		</div>
		<div class="col-md-4 col-md-offset-4 vot-1 vob-3">
		<div class="row">
			<div class="col-md-3">
				<a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
					<img src="/images/contact-icons-linkedin.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.xing.com/profile/Sonja_Dickers">
					<img src="/images/contact-icons-xing.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.behance.net/sonjadyckers">
					<img src="/images/contact-icons-behance.png">
				</a>
			</div>
			<div class="col-md-3 vob-2">
				<a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
					<img src="/images/contact-icons-mail.png">
				</a>
			</div>
		</div>

	</div>
	</div>
</div>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/scripts/slick.min.js"></script>
<script>
	$('.slides-container').slick({
        lazyLoad : 'ondemand',
        slidesToShow: 1,
  		slidesToScroll: 1,
  		nextArrow : '<img class="slick-next" src="/images/mobile_usabillity/research_arrow.png" alt="">',
  		prevArrow : '<img class="slick-prev" src="/images/mobile_usabillity/research_arrow.png" alt="">',
		dots: true
      });
</script>
</body>
</html>