<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">
	<a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<div class="row menu-item mobile">
        <div class="background">
      	<h1>Mobile Usability</h1>
      </div>
  </div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Research & Infographic</h2>	
		<div class="headline-underline vob-1"></div>
		consights is a product to conduct market research studies.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. 
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-2">
		<div class="row">
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Literature Review	
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Research Article
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Infographic
			</div>
		</div>
	</div>	
</div>
<div class="row lightgrey">
	<div class="col-md-4 col-md-offset-4 vot-2 vob-2">
		<h2>Research Article</h2>	
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 vob-2">
		<div class="slider">
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png2.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png3.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png4.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png5.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png6.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png7.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png8.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png9.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png10.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png11.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png12.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png13.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png14.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png15.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png16.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png17.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png18.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png19.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png20.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png21.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png22.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png23.png" alt=""></div>
			<div><img data-lazy="/images/mobile_usabillity/IDM25_FinalAssignment_png24.png" alt=""></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 seperator-red"></div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1 col-img">
		<div class="headline-centered">
			<div class="headline-content vot-2">
				<h2>Infographic</h2>	
				<div class="headline-underline vob-1"></div>
			</div>
		</div>
		<img src="/images/mobile_usabillity/RESEARCH_poster_hanging.png"  width="80%" alt="">


	</div>
</div>
<div class="bottom-menu row">
        <a class="bottom-menu-item" href="mercur.html">
            <div class="overlay mercur"></div>
             <span class="bottom-menu-title">
                Mercur
            </span>
            <span class="bottom-menu-subtitle">Project Management Concept</span>
            <-
            <div class="overlay"></div>
        </a>
        <a class="bottom-menu-item" href="blueshoe.html">
            <div class="overlay blueshoe"></div>
            <span class="bottom-menu-title">Blueshoe</span>
            <span class="bottom-menu-subtitle">Branding & Website</span>
            ->
            <div class="overlay"></div>
        </a>
    </div>
    <div class="row vot-3 vob-3">
        <div class="col-md-10 col-md-offset-1">
            <h2>Get in touch</h2>
            <div class="headline-underline vob-1"></div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <span class="contact-subline">
                I look forward to hear from you.
            </span>
        </div>
        <div class="col-md-4 col-md-offset-4 vot-1 vob-3">
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
                    <img class="socialMedia-img" src="/images/contact-icons-linkedin.png">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.xing.com/profile/Sonja_Dickers">
                    <img class="socialMedia-img" src="/images/contact-icons-xing.png">
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.behance.net/sonjadyckers">
                    <img class="socialMedia-img" src="/images/contact-icons-behance.png">
                </a>
            </div>
            <div class="col-md-3 vob-2">
                <a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
                    <img class="socialMedia-img" src="/images/contact-icons-mail.png">
                </a>
            </div>
        </div>
        </div>

    </div>
	</div>
<!-- build:js(.) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script type="text/javascript" src="/scripts/slick.min.js"></script>
      <!-- endbuild -->
 <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({
        lazyLoad : 'ondemand',
        slidesToShow: 2,
  		slidesToScroll: 1,
  		nextArrow : '<img class="slick-next" src="/images/mobile_usabillity/research_arrow.png" alt="">',
  		prevArrow : '<img class="slick-prev" src="/images/mobile_usabillity/research_arrow.png" alt="">'
      });
    });
  </script>
  </body>
</html>