<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">
	<a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<div class="row menu-item yay">
		<div class="background">
	      	<h1>YAY</h1>
	      	<div class="headline-underline"></div>
      	</div>
	</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Concept & Design</h2>	
		<div class="headline-underline vob-1"></div>
		During the summer I had an idea for a social decision making application, which I conceptualised
		during an individual project in my masters. The decision process is based on images that you share
		with your friends. 
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-3">
		<div class="row">
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Conceptualisation
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Interaction Design
			</div>
			<div class="col-md-4 section-anchor">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Interface Design
			</div>
		</div>
	</div>	
</div>
<div class="row vot-2">
	<div class="col-md-12 col-img">
	<div class="stellarBg stellarBg-yay-scribble" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="-800" alt="">
	</div>
</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 vot-3">
		<h2>Personae</h2>
		<div class="headline-underline vob-1"></div>
	</div>
</div>
<div class="row person">
	<div class="col-md-11 col-md-offset-1">
		<img src="/images/yay/YAY_persona_Andy.jpg" class="person-image" alt="">
		<h3><br>Andy, 23, Student</h3>
		<p class="person-text">
			Andy is 23 years old and is studying Chemistry and Philosophy at the university. He is in his final year. During his free time, he likes doing sports and plays football in his university team. Andy lives in a flat with 4 other students. They spend a lot of time together and like cooking. About once a week they all cook together, Andy loves these get-togethers and enjoys cooking with his friends. He likes trying out new recipes and browses for these in the internet, food blogs or pinterest. 
		</p>
		Interests:
		<ul>
			<li>Football</li>
			<li>Cooking & Healthy Food</li>
			<li>Reading Books</li>
			<li>Hanging out with friends</li>
		</ul>
		Characteristics:
		<table width="">
			<tr>
				<td>Close-Minded</td>
				<td class="line-cell"><hr class="person-line">
					<div style="margin-left: 85%;" class="person-circle">
						
					</div>
				</td>
				<td>Open to New Experiences</td>
			</tr>
			<tr>
				<td>Disorganised</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 15%;" class="person-circle">

					</div>
				</td>

				<td>Conscientious</td>
			</tr>
			<tr>
				<td>Introverted</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 70%;" class="person-circle">

					</div>
				</td>

				<td>Extraverted</td>
			</tr>
			<tr>
				<td>Disagreeable</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 65%;" class="person-circle">

					</div>
				</td>

				<td>Agreeable</td>
			</tr>
			<tr>
				<td>Calm/Relaxed</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 10%;" class="person-circle">

					</div>
				</td>

				<td>Nervous/High-Strung</td>
			</tr>
		</table>
		<img src="/images/yay/whatsapp.png"   alt="" class="favorite-apps">
		<img src="/images/yay/pinterest.jpg"   alt="" class="favorite-apps">
		<img src="/images/yay/stumble.jpg"   alt="" class="favorite-apps">
		<img src="/images/yay/facebook.jpg"   alt="" class="favorite-apps">
		<img src="/images/yay/twitter.jpg"   alt="" class="favorite-apps">
	</div>
	<div class="col-md-11 col-md-offset-1 vot-3">
		<img src="/images/yay/yay_girls.jpg" class="person-image" alt="">
		<h3><br>Victoria, 15, school girl</h3>
		<p class="person-text">
			Victoria is 15 and goes to a local school in her town. She loves going shopping and spending time with her friends in her leisure time. All the girls in her clique are very interested in beauty, make-up and fashion. To fit in, Victoria tries to be cool. She is very concerned about her looks and what other people think of her. With her phone she is in contact with her friends all day. Victoria is active on Instagram, Facebook, Whatsapp and Snapchat. 
		</p>
		Interests:
		<ul>
			<li>Shopping</li>
			<li>Fashion</li>
			<li>Beauty & Make-up</li>
			<li>Gossip</li>
		</ul>
		Characteristics:
		<table width="">
			<tr>
				<td>Close-Minded</td>
				<td class="line-cell"><hr class="person-line">
					<div style="margin-left: 60%;" class="person-circle">

					</div>
				</td>
				<td>Open to New Experiences</td>
			</tr>
			<tr>
				<td>Disorganised</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 70%;" class="person-circle">

					</div>
				</td>
				<td>Conscientious</td>
			</tr>
			<tr>
				<td>Introverted</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 60%;" class="person-circle">

					</div>
				</td>
				<td>Extraverted</td>
			</tr>
			<tr>
				<td>Disagreeable</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 55%;" class="person-circle">

					</div>
				</td>
				<td>Agreeable</td>
			</tr>
			<tr>
				<td>Calm/Relaxed</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 65%;" class="person-circle">

					</div>
				</td>
				<td>Nervous/High-Strung</td>
			</tr>
		</table>
		<img src="/images/yay/facebook.jpg"   alt="" class="favorite-apps">
		<img src="/images/yay/messenger.png"   alt="" class="favorite-apps">
		<img src="/images/yay/whatsapp.png"   alt="" class="favorite-apps">
		<img src="/images/yay/instagram.jpg"   alt="" class="favorite-apps">
		<img src="/images/yay/snapchat.png"   alt="" class="favorite-apps">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Interactions</h2>	
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="magnify">
			<div class="large"></div>
			<img class="small" src="/images/yay/YAY_wireframemap.jpg" width="100%" data-glass-width="450"
			data-glass-height="450"></div>
	</div>
</div>

<div class="row">
<div class="col-md-8 col-md-offset-2 vot-3">
	<h2>Interface Design</h2>	
	<div class="headline-underline vob-1"></div>
</div>
</div>
<div class="row">
	<div class="col-md-6 col-img">
		<img src="/images/yay/YAY_phonemockups.jpg"  width="100%" alt="">
	</div>
	<div class="col-md-6 col-img">
		<img src="/images/yay/YAY_resultscreen.jpg" width="100%" alt="">
	</div>
	<div class="col-md-12 col-img">
		<img src="/images/yay/YAY_imagescreen.jpg"width="100%" alt="">
	</div>
</div>
<div class="row lightgrey">
	<div class="col-md-8 col-md-offset-2 vot-3 ">
		<h2>Gestures</h2>	
		<div class="headline-underline vob-1"></div>
	</div>
</div>
<div class="row lightgrey">
	<div class="col-md-8 col-md-offset-2 vob-3">
		<div class="row">
			<div class="col-md-4 ">
				<img src="/images/yay/YAY_gestures_horizontalscroll.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4">
				<img src="/images/yay/YAY_gestures_flickleft.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4">
				<img src="/images/yay/YAY_gestures_touchhold.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4 ">
				<img src="/images/yay/YAY_gestures_dragdown.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4">
				<img src="/images/yay/YAY_gestures_release.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4">
				<img src="/images/yay/YAY_gestures_tap.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4 ">
				<img src="/images/yay/YAY_gestures_dragflick.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4">
				<img src="/images/yay/YAY_gestures_flickright.png" height="170" width="170" alt="">
			</div>
			<div class="col-md-4">
				<img src="/images/yay/YAY_gestures_takephoto.png" height="170" width="170" alt="">
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-3">
		<h2>Website</h2>	
		<div class="headline-underline vob-1"></div>
		<img src="/images/yay/YAY_website_browser.jpg" width="100%" alt="" class="website_image">
	</div>
</div>
<div class="bottom-menu row"	>
		<div class="bottom-menu-item">
			<div class="overlay blueshoe"></div>
			 <span class="bottom-menu-title">
				Blueshoe
			</span>
			<span class="bottom-menu-subtitle">Branding & Website</span>
			<-
			<div class="overlay"></div>
		</div>
		<div class="bottom-menu-item">
			<div class="overlay consights"></div>
			<span class="bottom-menu-title">Consights</span>
			<span class="bottom-menu-subtitle">Branding & Website</span>
			->
			<div class="overlay"></div>
		</div>
	</div>

	<div class="row vot-3 vob-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Get in touch</h2>
			<div class="headline-underline vob-1"></div>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<span class="contact-subline">
				I look forward to hear from you.
			</span>
		</div>
		<div class="col-md-4 col-md-offset-4 vot-1 vob-3">
		<div class="row">
			<div class="col-md-3">
				<a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
					<img class="socialMedia-img" src="/images/contact-icons-linkedin.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.xing.com/profile/Sonja_Dickers">
					<img class="socialMedia-img" src="/images/contact-icons-xing.png">
				</a>
			</div>
			<div class="col-md-3">
				<a href="https://www.behance.net/sonjadyckers">
					<img class="socialMedia-img" src="/images/contact-icons-behance.png">
				</a>
			</div>
			<div class="col-md-3 vob-2">
				<a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
					<img class="socialMedia-img" src="/images/contact-icons-mail.png">
				</a>
			</div>
		</div>
		</div>

	</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script type="text/javascript" src="/bower_components/jquery.stellar/jquery.stellar.min.js"></script>
	<script type="text/javascript">
	    $.stellar();
	</script>
	<script>
	$(document).ready(function(){

	var native_width = 0;
	var native_height = 0;

	
		//This will create a new image object with the same image as that in .small
		//We cannot directly get the dimensions from .small because of the 
		//width specified to 200px in the html. To get the actual dimensions we have
		//created this image object.
		var image_object = new Image();
		image_object.src = $('.small').attr("src");
		
		//This code is wrapped in the .load function which is important.
		//width and height of the object would return 0 if accessed before 
		//the image gets loaded.
		native_width = image_object.width;
		native_height = image_object.height;
		
		//Lets move the mousemove function here inside the image load function
		//so that the magnifying glass works only after the image has loaded completely
		//Just realised that .load does not trigger for images loading from cache
		//in many browsers, hence will use a different technique.
	
	//Now the mousemove function
	$(".magnify").mousemove(function(e){
		//x/y coordinates of the mouse
		//This is the position of .magnify with respect to the document.
		var magnify_offset = $(this).offset();
		//We will deduct the positions of .magnify from the mouse positions with
		//respect to the document to get the mouse positions with respect to the 
		//container(.magnify)
		var mx = e.pageX - magnify_offset.left;
		var my = e.pageY - magnify_offset.top;
		
		//Finally the code to fade out the glass if the mouse is outside the container
		if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0)
		{
			$(".large").fadeIn(100);
		}
		else
		{
			$(".large").fadeOut(100);
		}
		if($(".large").is(":visible"))
		{
			//The background position of .large will be changed according to the position
			//of the mouse over the .small image. So we will get the ratio of the pixel
			//under the mouse pointer with respect to the image and use that to position the 
			//large image inside the magnifying glass
			var rx = Math.round(mx/$(".small").width()*native_width - $(".large").width()/2)*-1;
			var ry = Math.round(my/$(".small").height()*native_height - $(".large").height()/2)*-1;
			var bgp = rx + "px " + ry + "px";
			
			//Time to move the magnifying glass with the mouse
			var px = mx - $(".large").width()/2;
			var py = my - $(".large").height()/2;
			//Now the glass moves with the mouse
			//The logic is to deduct half of the glass's width and height from the 
			//mouse coordinates to place it with its center at the mouse coordinates
			
			//If you hover on the image now, you should see the magnifying glass in action
			$(".large").css({left: px, top: py, backgroundPosition: bgp});
		}
	})
});
</script>
</body>
</html>
