<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">
  
  <!-- endbuild -->
</head>
<body>
<div class="container-fluid">
	<a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
	<div class="row menu-item yay">
      	<h1>YAY</h1>
	</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Concept & Design</h2>	
		<div class="headline-underline vob-1"></div>
		During the summer I had an idea for a social decision making application, which I conceptualised
		during an individual project in my masters. The decision process is based on images that you share
		with your friends. 
	</div>
	<div class="col-md-8 col-md-offset-2 vot-2 vob-3">
		<div class="row">
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Conceptualisation
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Interaction Design
			</div>
			<div class="col-md-4 section-anchor text-small">
				<hr class="middle-line">
				<div class="anchor-circle"></div>
				Interface Design
			</div>
		</div>
	</div>	
</div>
<div class="row">
	<div class="col-md-12 col-img">
		<img src="/images/FullSizeRender-3.jpg" width="100%" alt="">
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1 vot-3">
		<h2>Personae</h2>
		<div class="headline-underline vob-1"></div>
	</div>
</div>
<div class="row person">
	<div class="col-md-11 col-md-offset-1">
		<img src="/images/YAY_persona_Andy.png" class="person-image" alt="">
		<h3><br>Andy, 23, Student</h3>
		<p class="person-text">
			Andy is 23 years old and is studying Chemistry and Philosophy at the university. He is in his final year. During his free time, he likes doing sports and plays football in his university team. Andy lives in a flat with 4 other students. They spend a lot of time together and like cooking. About once a week they all cook together, Andy loves these get-togethers and enjoys cooking with his friends. He likes trying out new recipes and browses for these in the internet, food blogs or pinterest. 
		</p>
		Interests:
		<ul>
			<li>Football</li>
			<li>Cooking & Healthy Food</li>
			<li>Reading Books</li>
			<li>Hanging out with friends</li>
		</ul>
		Characteristics:
		<table width="">
			<tr>
				<td>Close-Minded</td>
				<td class="line-cell"><hr class="person-line">
					<div style="margin-left: 85%;" class="person-circle">
						
					</div>
				</td>
				<td>Open to New Experiences</td>
			</tr>
			<tr>
				<td>Disorganised</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 15%;" class="person-circle">

					</div>
				</td>

				<td>Conscientious</td>
			</tr>
			<tr>
				<td>Introverted</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 70%;" class="person-circle">

					</div>
				</td>

				<td>Extraverted</td>
			</tr>
			<tr>
				<td>Disagreeable</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 65%;" class="person-circle">

					</div>
				</td>

				<td>Agreeable</td>
			</tr>
			<tr>
				<td>Calm/Relaxed</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 10%;" class="person-circle">

					</div>
				</td>

				<td>Nervous/High-Strung</td>
			</tr>
		</table>
		<img src="/images/whatsapp.png"   alt="" class="favorite-apps">
		<img src="/images/pinterest.png"   alt="" class="favorite-apps">
		<img src="/images/stumble.png"   alt="" class="favorite-apps">
		<img src="/images/facebook.png"   alt="" class="favorite-apps">
		<img src="/images/twitter.png"   alt="" class="favorite-apps">
	</div>
	<div class="col-md-11 col-md-offset-1">
		<img src="/images/yay_girls.jpg" class="person-image" alt="">
		<h3><br>Victoria, 15, school girl</h3>
		<p class="person-text">
			Victoria is 15 and goes to a local school in her town. She loves going shopping and spending time with her friends in her leisure time. All the girls in her clique are very interested in beauty, make-up and fashion. To fit in, Victoria tries to be cool. She is very concerned about her looks and what other people think of her. With her phone she is in contact with her friends all day. Victoria is active on Instagram, Facebook, Whatsapp and Snapchat. 
		</p>
		Interests:
		<ul>
			<li>Shopping</li>
			<li>Fashion</li>
			<li>Beauty & Make-up</li>
			<li>Gossip</li>
		</ul>
		Characteristics:
		<table width="">
			<tr>
				<td>Close-Minded</td>
				<td class="line-cell"><hr class="person-line">
					<div style="margin-left: 60%;" class="person-circle">

					</div>
				</td>
				<td>Open to New Experiences</td>
			</tr>
			<tr>
				<td>Disorganised</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 70%;" class="person-circle">

					</div>
				</td>
				<td>Conscientious</td>
			</tr>
			<tr>
				<td>Introverted</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 60%;" class="person-circle">

					</div>
				</td>
				<td>Extraverted</td>
			</tr>
			<tr>
				<td>Disagreeable</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 55%;" class="person-circle">

					</div>
				</td>
				<td>Agreeable</td>
			</tr>
			<tr>
				<td>Calm/Relaxed</td>
				<td class="line-cell">

					<hr class="person-line">
					<div style="margin-left: 65%;" class="person-circle">

					</div>
				</td>
				<td>Nervous/High-Strung</td>
			</tr>
		</table>
		<img src="/images/facebook.png"   alt="" class="favorite-apps">
		<img src="/images/messenger.png"   alt="" class="favorite-apps">
		<img src="/images/whatsapp.png"   alt="" class="favorite-apps">
		<img src="/images/instagram.png"   alt="" class="favorite-apps">
		<img src="/images/snapchat.png"   alt="" class="favorite-apps">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>Interactions</h2>	
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div data-ng-magnify image-src="/images/YAY_wireframemap.png" width="100%" data-glass-width="450"
		data-glass-height="450"></div>
	</div>
</div>
<div class="col-md-8 col-md-offset-2 vot-3">
	<h2>Interface Design</h2>	
	<div class="headline-underline vob-1"></div>
</div>
<div class="row">
	<div class="col-md-6 col-img">
		<img src="/images/YAY_phonemockups.png"  width="100%" alt="">
	</div>
	<div class="col-md-6 col-img">
		<img src="/images/YAY_resultscreen.png" width="100%" alt="">
	</div>
	<div class="col-md-12 col-img">
		<img src="/images/YAY_imagescreen.png"width="100%" alt="">
	</div>
</div>
<div class="row lightgrey">
	<div class="col-md-8 col-md-offset-2 vot-3 ">
		<h2>Gestures</h2>	
		<div class="headline-underline vob-1"></div>
	</div>
</div>
<div class="row lightgrey">
	<div class="col-md-8 col-md-offset-2 vob-3">
		<div class="col-md-4 ">
			<img src="/images/YAY_gestures_horizontalscroll.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4">
			<img src="/images/YAY_gestures_flickleft.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4">
			<img src="/images/YAY_gestures_touchhold.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4 ">
			<img src="/images/YAY_gestures_dragdown.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4">
			<img src="/images/YAY_gestures_release.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4">
			<img src="/images/YAY_gestures_tap.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4 ">
			<img src="/images/YAY_gestures_dragflick.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4">
			<img src="/images/YAY_gestures_flickright.png" height="170" width="170" alt="">
		</div>
		<div class="col-md-4">
			<img src="/images/YAY_gestures_takephoto.png" height="170" width="170" alt="">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-3">
		<h2>Website</h2>	
		<div class="headline-underline vob-1"></div>
		<img src="/images/YAY_website_browser.png" width="100%" alt="" class="website_image">
	</div>
</div>
	</div>
</body>
</html>
