<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">

  <!-- endbuild -->
</head>
<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="container-fluid">
		  <a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
<div class="row about_header" id="about_header">
	<div class="col-md-12 col-img vot-4 vob-4">
		<img src="/images/sd_logo_125.png">
		<h1 style="margin-top: 1.2em;">Sonja Dickers</h1>
		<p>UX Designer & Icon Lover</p>
	</div>
</div>

<div class="row grey" id="about_greeting">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-3">
		<h2>Nice to meet you.</h2>
		<div class="headline-underline vob-1"></div>
		I am Sonja, 25 years old from Cologne, Germany. Currently living in Munich. I am working full time as a UI & UX Designer at <a href="http://goldmarie-friends.de"> Goldmarie & Friends GmbH </a> and do freelance work aside. If you have a cool project in mind, <a href="#about_contact">get in touch!</a> I am always interested to meet and work with interesting people!
	</div>
</div>

<div class="row" id="about_skills">
	<div class="col-md-8 col-md-offset-2 vot-3">
		<h2>What I do.</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-10 col-md-offset-1 vot-1 vob-3">
		<div class="row">
			<div class="col-md-4 ">
				<img class="about-skill--image" src="/images/skills_ux-design.png">
				<h3>UX Design</h3>
				User Centered Design<br>
				Interaction Design<br>
				User Acceptance Testing<br>
				Wireframing<br>
				Prototyping
			</div>
			<div class="col-md-4 ">
				<img class="about-skill--image" src="/images/skills_ui-design.png">
				<h3>UI Design</h3>
				User Interface Design<br>
				Web Design<br>
				Front-End Development<br>
				HTML 5 & CSS 3<br>
				JavaScript & jQuery
			</div>
			<div class="col-md-4 ">
				<img class="about-skill--image" src="/images/skills_branding.png">
				<h3>Branding</h3>
				User Centered Design<br>
				Interaction Design<br>
				User Acceptance Testing<br>
				Wireframing<br>
				Prototyping
			</div>
		</div>
	</div>
</div>

<div class="row preview_images" id="about_work">
	<div class="col-md-3 col-sm-3 col-xs-3 col-img height_div">
		<img src="/images/blueshoe/BLUESHOE_stationary2.jpeg" height="100%" alt="">
	</div>
	<div class="col-md-3 col-sm-3 col-xs-3 col-img height_div">
		<img src="/images/yay/YAY_phonemockups.jpg" style="margin-left: 50px;" height="100%" alt="">
	</div>
	<div class="col-md-3 col-sm-3 col-xs-3 col-img height_div">
		<img src="/images/consights/CONSIGHTS_businesscards.jpg" height="100%" alt="">
	</div>
	<div class="col-md-3 col-sm-3 col-xs-3 col-img height_div">
		<img src="/images/backgrounds/MERCUR_macbookdashboard_small.jpg" height="100%" alt="">
	</div>

</div>
		  <div class="row">
			  <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4 vot-2 vob-3">
		<a class="button" href="/views/work.html">See more work</a>
	</div>
		  </div>

<div class="row about_partners" id="about_partners">
	<div class="col-md-12 col-img vot-3 vob-1">
		<h2>I've worked with some pretty awesome people.</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-10 col-md-offset-1 col-img vob-3 vot-2">
		<div class="row">
			<div class="col-md-2">
				<a href="http://blueshoe.de/">
					<img height="90" src="/images/Logo_blueshoe_white.png">
				</a>
			</div>
			<div class="col-md-2 vob-2" style="line-height: 90px;">
				<a href="http://www.ibm.com/design/">
					<img width="200" src="/images/Logo_ibmdesign_white.png">
				</a>
			</div>
			<div class="col-md-2">
				<a href="http://builtbybuffalo.com/">
					<img height="90" src="/images/Logo_buffalo_white.png">
				</a>
			</div>
			<div class="col-md-2 vob-2" style="line-height: 90px;">
				<a href="https://www.optimisemedia.com/">
					<img width="200" src="/images/Optimise-logo.png">
				</a>
			</div>
			<div class="col-md-2 vob-2">
				<a href="http://consights.de/">
					<img height="90" src="/images/consights_logo_light.png">
				</a>
			</div>
			<div class="col-md-2">
				<a href="http://goldmarie-friends.de/">
					<img height="90" src="/images/Logo_goldmarie_white.png">
				</a>
			</div>
		</div>

	</div>
</div>

<div class="row" id="about_timeline">
	<div class="col-md-12">
		<!--grey div that grows while scrolling-->
		<div id="timeline_progress"> </div>

		<div class="bubble event_job" id="goldmarie_div">
			<div class="event_month event_month_job">
				August
			</div>
			<div class="event_bubble" id="goldmarie_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-work.png" alt="Full time job as UX Designer"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Started working at <a href="http://goldmarie-friends.de/">Goldmarie & Friends</a></h3>
				<p class="">UI/UX Designer</p> <br>
				<p class="">Munich, Germany</p>
			</div>
		</div>

		<div class="bubble event_uni" id="msc2_div">
			<div class="event_month event_month_uni">
				June
			</div>
			<div class="event_bubble" id="msc_bubble_grad">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-uni.png" alt="End Postgraduate Course"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Graduated from University of Brighton</h3>
				<p class="">M.Sc. User Experience Design</p> <br>
				<p class="">Brighton, United Kingdom</p>
			</div>
		</div>

		<div class="bubble_year" id="div_2015">
			<div class="year_bubble"><h2>2015</h2></div>
		</div>

		<div class="bubble event_job" id="buffalo_div">
			<div class="event_month event_month_job">
				October
			</div>
			<div class="event_bubble" id="buffalo_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-work.png" alt="Internship UX Design"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Started working at <a href="http://builtbybuffalo.com/">Built by Buffalo</a></h3>
				<p class="">User Experience Designer</p> <br>
				<p class="">Brighton, United Kingdom</p>
			</div>
		</div>

		<div class="bubble event_job" id="ibm2_div">
			<div class="event_month event_month_job">
				June
			</div>
			<div class="event_bubble" id="ibm2_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-work.png" alt="Internship UX Design"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Begin 2nd Internship at <a href="http://www-05.ibm.com/de/entwicklung/">IBM</a></h3>
				<p class="">User Experience Designer</p> <br>
				<p class="">Stuttgart, Germany</p>
			</div>
		</div>

		<!--elements on timeline-->
		<div class="bubble event_uni" id="msc_div">
			<div class="event_month event_month_uni" id="msc_month">
				February
			</div>
			<div class="event_bubble" id="msc_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-study.png" alt="Postgraduate Course"/>
			</div>
			<div class="event_desc" id="msc_desc">
				<h3 class="font_blue">Started Postgraduate Course</h3>
				<p class="">M.Sc. User Experience Design</p> <br>
				<p class="">Brighton, United Kingdom</p>
			</div>
		</div>

		<div class="bubble_year" id="div_2014">
			<div class="year_bubble"><h2>2014</h2></div>
		</div>

		<div class="bubble event_job" id="ibm_div">
			<div class="event_month event_month_job">
				June
			</div>
			<div class="event_bubble" id="ibm_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-work.png" alt="Internship UX Design"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Begin Internship at <a href="http://www-05.ibm.com/de/entwicklung/">IBM</a></h3>
				<p class="">User Experience Designer</p> <br>
				<p class="">Stuttgart, Germany</p>
			</div>
		</div>

		<div class="bubble_year"  id="div_2013">
			<div class="year_bubble"><h2>2013</h2></div>
		</div>

		<div class="bubble event_job" id="omg_div">
			<div class="event_month event_month_job">
				November
			</div>
			<div class="event_bubble" id="omg_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-work.png" alt="Internship IT"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Begin Internship at <a href="https://www.optimisemedia.com/">OMG</a></h3>
				<p class="">Technical Analyst</p> <br>
				<p class="">Norwich, United Kingdom</p>
			</div>
		</div>

		<div class="bubble event_uni" id="bsc_div">
			<div class="event_month event_month_uni">
				September
			</div>
			<div class="event_bubble" id="bsc_bubble_grad">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-uni.png" alt="End Undergraduate Course"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Graduated from University of Cologne</h3>
				<p class="">B.Sc. Business Information Systems</p> <br>
				<p class="">Cologne, Germany</p>
			</div>
		</div>

		<div class="bubble_year" id="div_2012">
			<div class="year_bubble"><h2>2012</h2></div>
		</div>

		<div class="bubble_year" id="div_2011">
			<div class="year_bubble"><h2>2011</h2></div>
		</div>

		<div class="bubble_year" id="div_2010">
			<div class="year_bubble"><h2>2010</h2></div>
		</div>

		<div class="bubble event_job" id="ms_div">
			<div class="event_month event_month_job">
				November
			</div>
			<div class="event_bubble" id="ms_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-work.png" alt="Student Job"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Got Student Job at <a href="http://www.ms-teststudios.de/koeln.html">ms Teststudios</a></h3>
				<p class="">Market Research Assistant</p> <br>
				<p class="">Cologne, Germany</p>
			</div>
		</div>

		<div class="bubble event_uni" id="bsc_div2">
			<div class="event_month event_month_uni">
				September
			</div>
			<div class="event_bubble" id="bsc_bubble">
				<div class="timeline_duration"> </div>
				<img src="/images/timeline-icons-study.png" alt="Start Undergraduate Course"/>
			</div>
			<div class="event_desc">
				<h3 class="font_blue">Started Undergraduate Course</h3>
				<p class="">B.Sc. Business Information Systems</p> <br>
				<p class="">Cologne, Germany</p>
			</div>
		</div>

		<div class="bubble_year" id="div_2009">
			<div id="begin_bubble" class="year_bubble"><h2>2009</h2></div>
		</div>

	</div>
</div>

<div class="row about_cv_download" id="about_cv">
	<div class="col-md-12 col-img vot-3 vob-1">
		<h2>Did you like what you saw?</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-2 col-xs-4 col-xs-offset-4 col-md-offset-5 vob-3">
		<a class="button" href="/download/cv_sonjadickers.pdf">Download CV</a>
	</div>
</div>

<div class="row" id="about_contact">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-1">
		<h2>Get in touch.</h2>
		<div class="headline-underline vob-1"></div>
		I look forward to hear from you.
	</div>
	<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 vot-1 vob-3">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-3">
             <a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
              <img class="socialMedia-img" src="/images/contact-icons-linkedin.png">
          </a>
        </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
             <a href="https://www.xing.com/profile/Sonja_Dickers">
                <img class="socialMedia-img" src="/images/contact-icons-xing.png">
          </a>
        </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
             <a href="https://www.behance.net/sonjadyckers">
               <img class="socialMedia-img" src="/images/contact-icons-behance.png">
           </a>
        </div>
          <div class="col-md-3  col-sm-3 col-xs-3 vob-2">
          <a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
             <img class="socialMedia-img" src="/images/contact-icons-mail.png">
          </a>
        </div>
		</div>

	</div>
</div>

</div>
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="/scripts/timeline_animation.js"></script>
</body></html>
