<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Sonja Dickers - Portfolio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="/styles/slick-theme.css" />
  <link rel="stylesheet" href="/styles/slick.css" />
  <link rel="stylesheet" href="/styles/main.css">

  <!-- endbuild -->
</head>
<body class="workPage">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="container-fluid">
		  <a href="/index.html" id="menu">
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
		<div class="menu-bar"></div>
	</a>
	  <div class="row menu-item work">
        <div class="background">
			<img src="/images/sd_logo_125.png" alt="">
          <h1>Portfolio</h1>
          <div class="headline-underline"></div>
        </div>
      </div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-1">
		<h2>Blueshoe Branding & Website Design</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-12 col-img work_preview">
		<a href="/partials/blueshoe.html">
			<div class="work-parallax blueshoe" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="-200"></div>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-1">
		<h2>YAY Application Concept & Design</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-12 col-img work_preview">
		<a href="/partials/yay.html">
			<div class="work-parallax yay" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="-200"></div>
		</a>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-1">
		<h2>Consights Branding & Website Design</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-12 col-img work_preview">
		<a href="/partials/consights.html">
			<div class="work-parallax consights" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="-200"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-1">
		<h2>Mercur Project Management Concept & Design</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-12 col-img work_preview">
		<a href="/partials/mercur.html">
			<div class="work-parallax mercur" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="-200"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 vot-3 vob-1">
		<h2>Mobile Usability Research & Infographic</h2>
		<div class="headline-underline vob-1"></div>
	</div>
	<div class="col-md-12 col-img work_preview">
		<a href="/partials/mobile.html">
			<div class="work-parallax mobile" data-stellar-background-ratio="0.9" data-stellar-vertical-offset="-200"></div>
		</a>
	</div>
</div>

<!--<div class="row">-->
	<!--<div class="col-md-8 col-md-offset-2 vot-3 vob-1">-->
		<!--<h2>Digital Waiter Concept & Design</h2>-->
		<!--<div class="headline-underline vob-1"></div>-->
	<!--</div>-->
	<!--<div class="col-md-12 col-img work_preview">-->
		<!--<img src="/images/digital_waiter/WAITER_mockups_all.png" width="100%" alt="">-->
	<!--</div>-->
<!--</div>-->

<div class="row vot-3 vob-3">
		<div class="col-md-10 col-md-offset-1">
			<h2>Get in touch</h2>
			<div class="headline-underline"></div>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<span class="contact-subline">
				I look forward to hear from you.
			</span>
		</div>
		<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 vot-1 vob-3">
		<div class="row">
			<div class="col-md-3 col-sm-3">
             <a href="https://www.linkedin.com/in/sonja-dickers-7457086b">
              <img class="socialMedia-img" src="/images/contact-icons-linkedin.png">
          </a>
        </div>
          <div class="col-md-3 col-sm-3">
             <a href="https://www.xing.com/profile/Sonja_Dickers">
                <img class="socialMedia-img" src="/images/contact-icons-xing.png">
          </a>
        </div>
          <div class="col-md-3 col-sm-3">
             <a href="https://www.behance.net/sonjadyckers">
               <img class="socialMedia-img" src="/images/contact-icons-behance.png">
           </a>
        </div>
          <div class="col-md-3  col-sm-3 vob-2">
          <a href="mailto:hello@sonjadickers.com?Subject=Hello!%20I%20saw%20your%20portfolio" target="_top">
             <img class="socialMedia-img" src="/images/contact-icons-mail.png">
          </a>
        </div>
		</div>
		</div>

	</div>
		  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery.stellar/jquery.stellar.min.js"></script>
  <script type="text/javascript">
      $.stellar();
  </script>
</body>
</html>